{#
/**
 * @file
 * Beauty Blog's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.branding: Items for the Branding region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.slideshow: Items for the slideshow region.
 * - page.top_widget_left: Items for the top widget left region.
 * - page.top_widget_middle: Items for the top widget middle region.
 * - page.top_widget_right: Items for the top widget right region.
 * - page.content: The main content of the current page.
 * - page.featured: Items for the featured region.
 * - page.about_us: Items for the about us column.
 * - page.contact_us: Items for the contact us column.
 * - page.leave_a_message: Items for the leave a message column.
 * - page.footer: Items for the fourth footer column..
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- Starting Container -->
<div id="page-wrapper" class="size-1140">

  <!-- Starting Header -->
  <header role="banner">

    <!-- Starting Header -->
    <div id="top-bar">
      {{ page.top_header }}
    </div>
    <!-- Ending Header -->

    <!-- Starting Branding -->
    <div id="branding">
      {{ page.branding }}
    </div>
    <!-- Ending Branding -->

    <!-- Starting Main Navigation -->
    <div id="main-navigation">
      {{ page.primary_menu }}
    </div>
    <!-- Ending Main Navigation -->

  </header>
  <!-- Ending Header -->

</div>
<!-- Ending Container -->
